@import 'variables';

.navbar-bg {
    background-color: $red-new;
    background-image: linear-gradient(to bottom, $red-new, $red);
}

.main-sidebar .sidebar-menu li.active a {
    color: $red;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li.active>a {
    color: $red;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
    color: $red;
}

body.sidebar-mini .main-sidebar .sidebar-menu>li.active>a {
    background-color: $red-new;
}

.table-dark {
    background-color: rgba(0, 0, 0, 0.02);
}
