.navbar-bg {
  background-color: #f8fafb;
}

.navbar .nav-link {
  color: #e3342f;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 100%;
}

.navbar .nav-link.nav-link-user {
  color: #e3342f;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #f66D9b;
}

.main-sidebar {
  background-color: #f8fafb;
}

.main-sidebar .sidebar-menu li.active a {
  color: #e3342f;
  background-color: transparent;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a {
  color: #e3342f;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
  color: #e3342f;
}

body {
  background-color: #fff;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li > a .ion,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fas,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .far,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fab,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fal {
  margin: 0;
  font-size: 16px;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  box-shadow: 0 4px 8px #f66D9b;
  background-color: #e3342f;
  color: #fff;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li > a:focus,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a:hover {
  color: #fff;
  background-color: #e3342f !important;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  background-color: #d50000;
}

.table-dark {
  background-color: rgba(0, 0, 0, 0.02);
}

textarea.form-control {
  height: 128px !important;
}

